{{include "same/header"}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
     <div class="container">
       <div class="register-logo">
         <a><b>BLOG</b>后台管理员添加</a>
       </div>

       <p class="login-box-msg">Register a new membership</p>

       <form action="../../index.html" method="post">
         <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="用户名" required name="name">
           <span class="glyphicon glyphicon-user form-control-feedback"></span>
         </div>
         <div class="form-group has-feedback">
           <input type="email" class="form-control" placeholder="邮箱" name="email">
           <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
         </div>
         <div class="form-group has-feedback">
           <input type="password" class="form-control" placeholder="密码" required name="password">
           <span class="glyphicon glyphicon-lock form-control-feedback"></span>
         </div>
         
         <div class="form-group has-feedback">
           <input type="password" class="form-control" placeholder="确认密码" required name="confirmPassowrd">
           <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
         </div>
         <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="电话" name="phone">
           <span class="glyphicon glyphicon-lock form-control-feedback"></span>
         </div>
          <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="QQ" name="qq">
           <span class="glyphicon glyphicon-lock form-control-feedback"></span>
         </div>
          <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="兴趣爱好" name="like">
           <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
         </div>
         <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="个性签名" name="signature">
           <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
         </div>
          <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="身高" name="height">
           <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
         </div>
         <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="体重" name="weight">
           <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
         </div>
          <div class="form-group has-feedback">
           <input type="text" class="form-control" placeholder="职业" name="work">
           <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
         </div>
         <div class="row">
           <div class="col-xs-8">
             <div class="checkbox icheck">
               <label class="">
                 <div class="icheckbox_square-blue" aria-checked="false" aria-disabled="false" style="position: relative;"><input type="checkbox" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div> I agree to the <a href="#">terms</a>
               </label>
             </div>
           </div>
           <!-- /.col -->
           <div class="col-xs-12">
             <button type="submit" class="btn btn-primary btn-block btn-flat register">提交注册</button>
           </div>
           <!-- /.col -->
         </div>
       </form>

       <div class="social-auth-links text-center">
         <p>- OR -</p>
         <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using
           Facebook</a>
         <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i> Sign up using
           Google+</a>
       </div>

       <a href="login.html" class="text-center">I already have a membership</a>
     </div>

  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                  <span class="label label-danger pull-right">70%</span>
                </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<div id="messageModal" class="modal modal-info fade"  role = "dialog" tabIndex="-1" aria-labelledby = 'myMadallabel'>
  <div class="modal-dialog" role = 'document'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label = 'Close' data-dismiss = 'modal'>
          &times;
        </button>
        <h4>博客后台提示</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{include "same/footer"}}
<script>
	$('.addAdmin').click(function() 
	{
		location.href = 'addAdmin';
	});
	$('form').submit(function (ev) {
        ev.preventDefault();
        var formData = $(this).serialize();
        console.log(formData)
        $.post("/user/register",formData,function (data)
        {
            $('#messageModal .modal-body p').text(data.message)
            $('#messageModal').modal('show').on('hidden.bs.modal', function() 
            {
                if (data.code == 'success')
                {
                    location.href = '/user/home';
                }
            })
        })
    })
</script>
</body>
</html>
