{{include "same/header"}}
  <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper" style="display: flex;">
  
            <div class="col-md-12">
                <section class="content-header">
                    <h1>
                        文章列表
                        <small>展示：</small>
                    </h1>
                </section>
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="timeline">
                                <li class="time-label">
                                  <span class="bg-red">
                                    2017 3.1
                                  </span>
                                </li>
                                
                                
                                {{each data as i}}
                                <li>
                                    <i class="fa fa-envelope bg-blue"></i>

                                    <div class="timeline-item">
                                        <span class="time"><i class="fa fa-clock-o"></i>{{i.date}}</span>

                                        <h3 class="timeline-header"><a href="#">{{i.title}}</a></h3>

                                        <div class="timeline-body">
                                            {{i.content}}
                                        </div>
                                        <div class="timeline-footer">
                                            <a class="btn btn-primary btn-xs readMore" data-read='{{i.title}}'>阅读全部</a>
                                            <a class="btn btn-danger btn-xs deleteBlog" data-delete='{{i.title}}'>删除</a>
                                        </div>
                                    </div>
                                </li>
                                {{/each}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:;">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="pull-right-container">
                  <span class="label label-danger pull-right">70%</span>
                </span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->
      <!-- Stats tab content -->
      <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
      <!-- /.tab-pane -->
      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>


<div id="messageModal" class="modal modal-info fade"  role = "dialog" tabIndex="-1" aria-labelledby = 'myMadallabel'>
  <div class="modal-dialog" role = 'document'>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label = 'Close' data-dismiss = 'modal'>
          &times;
        </button>
        <h4>博客后台提示</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{include "same/footer"}}

<script>
var date = new Date();
  $('.bg-red').text(date.getFullYear() + '-' + (date.getMonth()+1) + '-' + date.getDate())
	$('.addAdmin').click(function() 
	{
		location.href = 'addAdmin';
	});
  	$('.userMessage').click(function() 
	  {
	    console.log(this.dataset.name)
	  });
    $('.readMore').click(function() 
    {
        var blogDate = 
        {
          title:this.dataset.read
        }
        location.href = '/readMore/' + this.dataset.read;

    });
     $('.deleteBlog').click(function() 
      {
      console.log(this.dataset.delete)
      var blogDate = 
      {
        title:this.dataset.delete,
      }
      $.post('/deleteblog', blogDate, function(data, textStatus, xhr) 
      {
        $('#messageModal .modal-body p').text(data.message)
            $('#messageModal').modal('show').on('hidden.bs.modal', function() 
            {
                if (data.code == 'success')
                {
                   location.reload();
                }
            })
      });
    });
  
	
</script>
</body>
</html>
